# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.swp

# R #
.RData
.Rhistory
Rseed.txt

# Jaatha #
jaatha_*.tar.gz
jaatha_*.zip
package/man/*
package.Rcheck
package/NAMESPACE
package/DESCRIPTION
package/README.html
unit_tests/results
howtos/cache

# Latex
*.aux
*.bbl
*.blg
*.log
*.out
*.tex
*.pdf
