Package:    jaatha
Version:    2.0.0
Date:       2012-12-18
License:    GPL (>= 3)
Title:      Jaatha - A Fast Parameter Estimation Method for Evolutionary Biology
Author:     Lisha Mathew, Paul R. Staab and Dirk Metzler
Maintainer: Paul R. Staab <staab@bio.lmu.de>
Description:
    Jaatha composite likelihood method for estimating parameters
    of the evolution of two biological population using genetic data.
Depends: methods, foreach, phyclust, ape, Rcpp
Suggests: doMC
