Package: jaatha
Version: 1.9.11
Date:    2012-09-20
License: GPL (>= 3)
Title:   Jaatha - Fast estimation of demographic parameters
Author:  Lisha Naduvilezhath, Paul R. Staab and Dirk Metzler
Maintainer: Paul R. Staab <staab@bio.lmu.de>
Description: A method for estimating parameters of the demographic history of
    two closely related species out of SNP data.
Depends:
    methods
Suggests:
    RUnit
