exportClasses(Jaatha)
export(dm.addMutation)
export(dm.addPresentSize)
export(dm.addRecombination)
export(dm.addSpeciationEvent)
export(dm.addSplitSize)
export(dm.addSymmetricMigration)
export(dm.createDemographicModel)
export(dm.defaultSumStats)
export(dm.simSumStats)
export(Jaatha.initialize)
export(Jaatha.initialSearch)
export(Jaatha.pickBestStartPoints)
export(Jaatha.printLikelihoods)
export(Jaatha.printStartPoints)
export(Jaatha.refineSearch)
useDynLib(jaatha)
